{
    "policies": {
        "Extensions": {
            "Install": [
                {% for extension_key, extension_name in extensions.items() %}
                "https://addons.mozilla.org/firefox/downloads/latest/{{ extension_key }}/latest.xpi"{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    }
}
